.table {
  border: 1px solid #bababa;
  border-collapse: collapse;
  margin: 50px auto;
  width: 90vw;
  background-color: #e0e0e0;
  font-size: 1.7rem;
  font-family: sans-serif;
}

@media screen and (min-width: 800px) {
  .table {
    width: 50%;
  }
}