@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(209, 174, 174);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.item {
  text-decoration: none;
}

.active-link {
  color: rgb(21, 87, 8);
}

.app-name {
  font-size: 1rem;
  text-align: center;
  color: #551a8b;
}

.table {
  border: 1px solid #bababa;
  border-collapse: collapse;
  margin: 30px auto;
  width: 90vw;
  background-color: #e0e0e0;
  font-size: 1.7rem;
  font-family: sans-serif;
}

.lets {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 2.5rem;
}

.tr {
  display: flex;
  justify-content: center;
  line-height: 80px;
}

td {
  width: 24.9%;
  padding: 0;
  margin: 0;
}

.td {
  border: 1px solid #bababa;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.change-quote {
  background-color: rgb(21, 87, 8);
  color: #fff;
  border: 2px solid rgb(21, 87, 8);
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.change-quote:hover {
  background-color: #333;
}

.not-found {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.quotes {
  text-align: center;
}

.quote {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
}

.home,
.quotes,
.not-found {
  margin: 40px 5vw;
}

tr:first-child td,
tr:first-child td span {
  text-align: right;
  width: 100%;
  padding: 0 5px;
  font-size: 1.5rem;
}

tr:not(:first-child) td:last-child {
  background-color: #f5913e;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

tr:last-child td:first-child {
  width: 50.4%;
}

tr:first-child {
  background-color: #858693;
  color: #fff;
}

tr:not(:first-child) td:hover {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

tr:not(:first-child) td:active {
  background-color: #fff;
  color: #000;
}

.para {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  .table {
    width: 60%;
    margin: 0;
  }

  .app-name {
    font-size: 2rem;
  }

  .welcome {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
  }

  .para {
    font-size: 2.5rem;
  }

  .nav-items {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .calculator-page {
    display: flex;
    justify-content: space-between;
    margin: 50px 5vw;
  }

  .lets {
    width: 40%;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  tr:first-child td,
  tr:first-child td span {
    font-size: 2rem;
  }

  tr:last-child td:first-child {
    width: 50.1%;
  }

  tr {
    height: 80px;
  }
}
