@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(212, 206, 206);
  width: 100%;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background-color: #1f2326;
  box-shadow: 3px 0 5px rgb(247, 243, 243);
  color: #fff;
  z-index: 10;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 5px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.item {
  text-decoration: none;
  color: #fff;
}

.item:hover {
  text-decoration: underline;
}

.active-link {
  color: rgb(152, 199, 143);
}

.app-name {
  font-size: 1rem;
  text-align: center;
}

.welcome {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
}

.table {
  border: 1px solid #bababa;
  border-collapse: collapse;
  margin: 30px auto;
  width: 90vw;
  background-color: #e0e0e0;
  font-size: 1.7rem;
  font-family: sans-serif;
  box-shadow: 5px 5px 6px rgb(8, 8, 8);
}

.lets {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 2.5rem;
}

.tr {
  display: flex;
  justify-content: center;
  line-height: 80px;
}

td {
  width: 24.9%;
  padding: 0;
  margin: 0;
}

.td {
  border: 1px solid #bababa;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.change-quote {
  background-color: #1f2326;
  color: #fff;
  border: 2px solid #1f2326;
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.change-quote:hover {
  background-color: rgb(83, 126, 74);
  border-color: rgb(83, 126, 74);
  color: #fff;
}

.not-found {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.loading {
  font-size: 1.6rem;
}

.quotes {
  text-align: center;
}

.quote {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
}

.home,
.quotes,
.not-found {
  margin: 40px 5vw;
}

tr:first-child td,
tr:first-child td span {
  text-align: right;
  width: 100%;
  padding: 0 5px;
  font-size: 1.5rem;
}

tr:not(:first-child) td:last-child {
  background-color: rgb(78, 68, 216);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

tr:last-child td:first-child {
  width: 50.4%;
}

tr:first-child {
  background-color: #1f2326;
  color: #fff;
}

tr:not(:first-child) td:hover {
  background-color: #1f2326;
  color: #fff;
  cursor: pointer;
}

tr:not(:first-child) td:active {
  background-color: #fff;
  color: #000;
}

.para {
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.footer {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  background-color: #1f2326;
  color: #fff;
}

section {
  margin: 0;
}

.footer-text {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
  .table {
    width: 60%;
    margin: 0;
  }

  .app-name {
    font-size: 2rem;
  }

  .welcome {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
  }

  .para {
    font-size: 2.5rem;
  }

  .nav-items {
    font-size: 1.5rem;
    text-decoration: none;
    gap: 10px;
  }

  .calculator-page {
    display: flex;
    justify-content: space-between;
    margin: 50px 5vw;
  }

  .lets {
    width: 40%;
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  tr:first-child td,
  tr:first-child td span {
    font-size: 2rem;
  }

  tr:last-child td:first-child {
    width: 50.1%;
  }

  tr {
    height: 80px;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}
